/* NOTE: THIS FILE WAS EDITED VIA DIRECTLY FROM THE GITHUB TEXT-EDITOR AND MAY NOT BE CONSISTENT WITH THE STYLE.SCSS (SASS)  


/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; 
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End of reset code */
body {
  background-color: #590016;
  margin-left: 2em;
  margin-right: 2em; 
  overflow: hidden; 
  overflow-y: hidden; 
  background-color: #590016; 
}

.header {
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 20px;
  text-align: center;
  z-index: -10; }
  .header p, .header a, .header b, .header h1, .header h2, .header h2, .header h3, .header h4, .header h5, .header div {
    color: #f2324f; }
  .header div {
    padding-left: 20px;
    font-size: 42px;
    display: inline-block; }
    .header div:hover {
      font-weight: bold; }
  .header .contact {
    padding-left: 20px; }

.about-content {
  z-index: 10;
  position: fixed;
  top: 140px;
  bottom: 10px;
  left: 16%;
  right: 14%;
  width: 70%;
  height: auto;
  background-color: rgba(255, 20, 50, 0.5);
  color: black; }
  .about-content p {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    font-size: 42px; }

.contact-content {
  visibility: hidden;
  z-index: 10;
  position: fixed;
  top: 140px;
  bottom: 10px;
  left: 16%;
  right: 14%;
  width: 70%;
  height: auto;
  background-color: rgba(255, 20, 50, 0.5);
  color: black; }
  .contact-content p {
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    font-size: 42px; }

.close-about-content {
  /*
  position: absolute;
  margin: auto;
  text-align: center;
  left: 40%;
  width: 10%;
  background-color: brown;
  bottom: 20px;
  //background-color: blue;
  */
  position: fixed;
  z-index: 11;
  text-align: center;
  left: 690px;
  bottom: 50px;
  width: 30px;
  height: 20px;
  font-size: 30px; }
  .close-about-content a {
    background-color: #590016;
    color: #f2324f;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; }
  .close-about-content:hover {
    background-color: darkbrown;
    font-weight: bold; }

.close-contact-content {
  visibility: hidden;
  position: fixed;
  z-index: 11;
  text-align: center;
  left: 690px;
  bottom: 50px;
  width: 30px;
  height: 20px;
  font-size: 30px; }
  .close-contact-content a {
    background-color: #590016;
    color: #f2324f;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; }
  .close-contact-content:hover {
    background-color: darkbrown;
    font-weight: bold; }

.main {
  z-index: 0;
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  position: absolute;
  left: 5%;
  right: 5%; }

.container {
  /* background-size: 320px 256px; */
  /* height: 224px; */
  /* width: 33%; /* 438px; */
  border: 2px solid white;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  z-index: 0;
  width: 30%;
  height: auto; }
  .container:hover {
    z-index: 2;
    transition: all 400ms ease-in;
    transform: scale(1.2); }
    .container:hover img {
      animation: imageAnim 4s forwards; }
  .container h2 {
    position: absolute;
    bottom: 280px; }

@keyframes fadeInUp {
  from {
    opacity: -0.6;
    transform: translate3d(0, 100%, 0);
    bottom: 20px;
    font-size: 0px; }
  to {
    opacity: 1;
    transform: none;
    bottom: 72px;
    font-size: 28px; } }
@keyframes imageAnim {
  from {
  /*
filter: blur(0px);
filter: brightness(100%);
*/
    filter: blur(4px);
    filter: brightness(30%); }
  to {
    /*
    filter: blur(4px);
    filter: brightness(30%);
    */
    filter: blur(0px);
    filter: brightness(100%); } }
@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: none; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
.content {
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #e01836;
  font-size: 36px;
  width: 100%;
  /* content: url('https://pbs.twimg.com/profile_images/993504415/css_400x400.png'); */ }
  .content p {
    visibility: hidden;
    animation: fadeOutDown 4s;
    position: absolute;
    bottom: 20px;
    left: 60px;
    padding-right: 20px; 
    font-size: 28px; }
  .content:hover p {
    visibility: visible;
    bottom: 72px;
    animation: fadeInUp 3s; }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
   .img { 
      width: 2px; 
      height: 5px; 
  } 
}

img {
  animation: forwards;
  max-width: 100%;
  width: 100%;
  height: auto;
  filter: blur(4px);
  filter: brightness(30%); }
  img:hover {
    animation: imageAnim 4s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; }

/*# sourceMappingURL=style.css.map */
